body{
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;

}


#header{

    background-image: url("C:\Users\HP\Desktop\tip\tipp-me-frontend\src\assets\header.jpg");
    height: 100vh;
    background-size: cover;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: bottom;
    

}


.feature{
    color: black;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    
}


.header-col{
    color: #ffd2bc;
    margin-top: 100px;
}

.header-col h1{
    font-weight: 600;
    font-size: 100px;
}




.align{
 
 text-align: center;   
 
 /* justify-content: center;
 align-items: center; */
}
.modal-content a{
    color: black;
}
.modal-content-up a{
    color: aliceblue;
}

.modal-content{
    /* background: rgba(0, 0, 0, 0.3)  url("C:\Users\HP\Downloads\Allura - Online Searching.png"); */
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background-color: whitesmoke;
    background-blend-mode: darken;
    border-radius: 10px;
    color: black;
}
.modal-content-up{
    background: rgba(0, 0, 0, 0.25)  url("C:\Users\HP\Downloads\Allura - Online Searching (1).png");
    background-blend-mode: darken;
    background-repeat: repeat;
    
    border-radius: 20px;
}
.fa{
    color: #ffb997;
    margin-right: 5px;
}
.fa:hover{
    color: #ffb997;
}


.modal-content .google{
    font-weight: bolder;
    border-radius: 40px;
    padding: 5px 20px;
    background-color: black; 
    color: #ffb997;
}
.modal-content .google:hover{
    background-color: #ffb997;
    color: black;
}

.modal-content-up .google{
    font-weight: bolder;
    border-radius: 40px;
    padding: 5px 20px;
    
}

.modal-content .log{
    background-color: black;
    font-weight: bolder;
    border-radius: 40px;
    margin: 20px 0px;
    padding: 5px 80px;
    color: #ffb997;
    
}
.modal-content .log:hover{
    background-color: #ffb997;
    color: black;
}
.modal-content-up .log{
    background-color: aqua;
    font-weight: bolder;
    border-radius: 40px;
    padding: 5px 80px;   
}

.modal-button{text-align: center;}

.modal-content input{
    font-weight: bolder;
    border-radius: 40px;
    margin-bottom: 10px;
    border: 2px black solid;

}
.modal-content-up input{
    font-weight: bolder;
    border-radius: 40px;
    margin-bottom: 10px;
}
.sign{
    text-align: center;
    margin: 10px 0px;
    color: black;
    font-weight: 500;
    
}

.sign-link{
    margin-left: 15px;
}
.sign-link:hover{
    color: #ffb997;
    cursor: pointer;
}


.modal-content button:hover{
    color: white;
    background-color:#ffb997;
}
.bars{
    border: none;
}

.modal-button{
    justify-content: center;
}

.header-col{
    text-align: center;      
}


.fit{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 3px;
}
.ready{
    text-align: center;
    
   background-image: url("C:\Users\HP\Desktop\tip\tipp-me-frontend\src\assets\secured.png");
    height: 60vh;
    align-items: center;
    
    background-size: contain;
    color: black;
    background-repeat: none
    ;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: white; */
    color: black;
    
}
.footer .fa{
    color: rgb(22, 20, 21);
}

.ready p{
    font-size: 15px;
font-weight: 500;
}
.inks{
    padding-top: 20px;
    padding-bottom: 10px;
}
.fonts{
    font-size: 150px;
    
}

.ready-btn{
    border: #ffd2bc 2px solid;
    border-radius: 40px;
    padding: 5px 20px;
    color: #ffb997;
    background-color: black;
    transition: all 5s;
    
}
.ready-btn:hover{
    border: none;
    border-radius: 40px;
    
    background-color: black;
    color: #ffb997;
}
.header-btn{
    
    border: 2px solid black;
    border-radius: 4px;
    
    padding: 5px 20px;
    color: black;
     border: 1px solid #ffb997;
     background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

.header-btn:hover{
    border: none;
    border-radius: 40px;
    font-weight: bold;
    background-color: black;
    color: #ffb997;
}

.play{
    margin-top: 20px;
}

.feature-1 h1{
    font-weight: 600;
}
.navbar{

    background-color: rgb(255, 202, 211);
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 5px 0px rgba(5,5,5,0.49);
-webkit-box-shadow: 0px 10px 5px 0px rgba(5,5,5,0.49);
-moz-box-shadow: 0px 10px 5px 0px rgba(5,5,5,0.49);
}
.navbar .fa{
    color: rgba(226, 72, 72, 0.932);
}




.rainbow-text {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #ffb997 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 10%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
  }
  
  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }
.ready h1{
    font-size:50px ;
}
.row-about{
    margin-top: 20px;
   height: 100vh;
    align-content: center;
    justify-content: center;
}

.about-left{
    
    text-align: left;

    align-self: center;
}
.aboutus{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}
.abt-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    
}

.abt-btn:hover{
    color: white;
    background-color: black;
}